[mysqld]
max_allowed_packet = 64M
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
collation-server               = utf8_unicode_ci
loose-default-character-set    = utf8
character-set-server           = utf8
init-connect                   = 'SET NAMES utf8'
